.is-boxed {
    background: color(bg, 1);
}

.body-wrap {
    background: color(bg, 1);
    overflow: hidden;
    /* Sticky footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boxed-container {
    max-width: 1440px;
    margin: 0 auto;
    @include shadow;
}

.section-inner {
    position: relative; /* To always display inner elements above pseudo decorative stuff */
    padding-top: 48px;
    padding-bottom: 48px;
}

.marginFixer {
  margin: 0 3px;
}

.spinner {
  width: 35%;
  margin: 0 auto;
  animation: spinnerLogo steps(8) 2s infinite;
}

@keyframes spinnerLogo {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(180deg)
  }
  75% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg);
  }
}

@include media( '>medium' ) {
    .section-inner {
        padding-top: 88px;
        padding-bottom: 88px;
    }
}

main {

  flex: 1 0 auto;
  position: relative;

  article {
    width: 62%;
    margin: 124px 0;
    padding-right: 12%;
    box-sizing: border-box;
    vertical-align: top;

    h1 {
      text-align: left;
      font-size: $article-h1-font-size;
      line-height: 1;
      margin: 0;
    }

    h1.specialHeadline {
      text-align: left;
      font-size: $article-h1-special;
      line-height: 1;
      margin: 0;
    }

    h2.eventName {
      text-align: left;
      font-size: $article-h2-special;
      line-height: 1;
      margin: 0;
    }

    p {
      margin-top: 32px;
      margin-bottom: 32px;
      letter-spacing: 1.01px;
    }
  }

  section.float {
    position: absolute;
    right: 0;
    display: block;
    width: 40%;
  }

  section.float img {
    width: 100%;
  }

  section.notFoundImage {
    position: absolute;
    right: 0;
    display: block;
    width: 50%;
  }

  section.notFoundImage img {
    width: 100%;
  }

  @include media( '<medium' ) {
    article {
      width: 100%;
      margin: 0;
      position: relative;
      display: block;
      padding: 0%;
    }

    .spinner {
      width: 100%;
    }

    section.float, section.notFoundImage {
      position: relative;
      float: none;
      display: block;
      width: 100%;
    }
  }

}
